@font-face {
    font-family: Arial Rounded;
    src: url('../assets/arial-rounded/unicode.arialr.ttf');
}

.footer {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    border-top: solid;
    border-color: #f2e9e4;
    margin-top: 4em;
}

.fitFooter {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    border-top: solid;
    border-color: #ff9ebb;
    margin-top: 4em;
}

.ZeldaFooter {
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    border-top: solid;
    border-color: #83c5be;
    margin-top: 4em;
}

.footerText {
    font-family: Arial Rounded;
    font-size: small;
    color: #252422;
    margin: 3em;
}

.fitFooterText {
    font-family: Arial Rounded;
    font-size: small;
    color: #8a2846;
    margin: 3em;
}

.ZeldaFooterText {
    font-family: Arial Rounded;
    font-size: small;
    color: #006d77;
    margin: 3em;
}

.phoneScreen {
    height: 20rem;
    width: 40rem;
}